.mainContent {
  .body__left__1__content__left__field {
    display: flex;
    .body__left__1__content__left__field__title{
      font-weight: 700;
    }
    .body__left__1__content__left__field__result{
      padding-left: 5px;
    }
  }

  //background-color: #bd081c;
  .nav {
    //background-color: #2CA58D;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    .nav__1 {

    }
    .nav__2 {

    }
  }
  .body {
    display: flex;
    justify-content: space-between;
    .body__left {
      //background-color: #61DAFB;
        width: calc(100% - 100px);
      .body__left__1 {
        .body__left__1__content {
          display: flex;
          justify-content: space-around;
          .body__left__1__content__left {

          }
          .body__left__1__content__right {

          }
        }
      }
    }
    .body__right {
      //background-color: #f5b759;
      width: 300px;
      margin-left: 18px;
      .body__right__field {
        margin-bottom: 20px;
        .body__right__field__title {
          font-weight: 700;
        }
        .body__right__field__result {

        }
      }
    }
  }
}


.deleteFileIcon {
  cursor: pointer;
  margin-left: 10px;
}

.attachmentItem {
  display: flex;
  justify-content: space-between;
}

.addAttachmentBtn {
  margin-bottom: 10px;
}

.listAttachmentLabel {
  display: block;
}

//._loading_overlay_content {
//  height: 100vh;
//  //background: rgba(134, 99, 99, 0.5);
//  background-color: rgba(0, 0, 0, 0.4);
//}

.filePreviewModal {
  //width: 90vw;    /* Occupy the 90% of the screen width */
  //max-width: 90vw;
}

.body__left__1__content__left__field__result--password-field {
  word-break: break-all;
  width: 400px;
}